
        *{
            padding: 0;
            margin: 0;
            text-decoration: none;/*вид ссылки без черты*/
            font-family: 'Montserrat';/*шрифт*/
            font-style: normal;/*тип стиля (normal | italic | oblique | inherit)*/
            font-weight: 500;/*насыщеность жирность (bold|bolder|lighter|normal|100|200|300|400|500|600|700|800|900)*/
            font-size: 32px;/*размер шрифта*/
            color: #000000;/*цвет шрифта*/
            line-height: 39px;/*межстрочный интервал*/
            z-index: -1;/*слои*/
            /*overflow: auto;*//*уменьшение упаковка в маленький блок*/
         }

        #basic_screen_resolution
        {
            min-width: 1200px;
            /*max-width: 1700px;*/
        }



        #head_line
        {
            position: fixed;
            width:100%;
            height:170px;
            color:#000000;
            background:white;
            margin-top:px;/**/
        }

        #head_logo
        {
            position: fixed;
            width: 410.44px;
            height: 109.4px;
            left: 64.12px;
            top: 29px;
        }

        #head_ul
        {
            position: fixed;
            display: flex;/*принцип размещения объектов (block | inline | list-item | none)*/
            width: 582px;
            height: 39px;
            right: 75px;
            bottom: 54px;
            top: 77px;
            gap: 56px;/*расстояние между элементами*/
            list-style:none;/*снятие стиля списка*/

            /*
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            */
        }

        a.href:focus
        {
            color: rgba(0, 0, 0, 0.49);
        }


        .block_home
        {
            position:absolute;
            display:block;
            width: 1211px;
            margin-left:calc((100% - 1211px)/2);
            margin-right:calc((100% - 1211px)/2);
            float:left;
        }
        #in_post{

            width: 60%;/*803px;*/
            float:left;
        }
        .in_button {
            padding: 20px 60px;
            background: #7F57F1;
            color: #FFFFFF;
            float:right;
        }



        footer
        {
            display:block;
            background:none;
            height: 300px;
            width:1211px;
            margin-top:100px;
            float:left;
        }

        .first_text
        {

            position: relative;
            display:block;
            /*background:red;*/
            width: 1211px;
            height: 59px;
            margin-top:237px;
            float:left;

            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
        }

        .default_block_small
        {
            position: relative;
            display: block;
            /*background:red;*/
            width: 415px;
            height: 436px;
            float:left;

            margin-top: 59px;
        }

        #default_block_big
        {
            position: relative;
            display: block;
            /*background:green;*/
            width: 1311px;
            height: 990px;
            float:left;
        }

        #default_block_normal
        {
            position: relative;
            display: block;

            width: 415px;
            float:left;
        }

        div.default_block_small>img
        {
            position: relative;
            display: block;
            /*background:green;*/
            width: 415px;
            height: 325px;
        }
        div.default_block_small>p
        {
            position: relative;
            display: block;
            /*background:blue;*/
            width: 415px;
            height: 87px;
            margin-top: 24px;

            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }

        .center_block_small
        {
            position: relative;
            display: block;
            margin-left:15px;
            margin-right:15px;
        }

        #in_post2
        {
            position: relative;
            display:block;
            width: 750px;
            margin-top: 59px;
            float:left;
            margin-right:30px;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
        }

        #in_post3
        {
            position: relative;
            display:block;
            /*background:red;*/
            width: 750px;
            margin-top: 72px;
            float:left;
            font-weight: 500;
            font-size: 32px;
            line-height: 161.4%;
        }

        #im2
        {
            position: relative;
            display:block;
            background:none;
            width: 1211px;
            margin-top:28px;
            float:left;
        }

        .screen
        {
            width: 100%;
            height:;
            display:block;
            position:absolute;
            z-index:0;
        }

        .black
        {

            width: 100%;
            height:100%;
            position:absolute;
            z-index:1;
            opacity: 0.5;
            background: #000000;

            overflow: visible;
        }

        .request
        {
            position:fixed;
            z-index: 2;
            height: 600px;
            width: 720px;
            top: 100px;
            left:360px;
            right:360px;
            background:white;
            padding-right:auto;
            padding-left:auto;


        }

        div.request > img
        {
            position: relative;

            display:block;
            width: 18%;
            left: 41%;
            top: 10%;
        }

        div.request > p
        {

            position: relative;
            display:block;
            width: 500px;
            left: 110px;
            top:20%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }

        div.request > div
        {
            position: relative;
            width: 500px;
            left: 110px;
            top: 46px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            /* identical to box height */
            display:flex;
            text-align: center;

            color: #000000;
        }

        .closse
        {
            position:absolute;
            width: 32px;
            height: 32px;
            left: 664px;
            top: 24px;
        }

        .immport
        {
        position: absolute;
        width: px;
        display:block;
        padding-top:20px;
        padding-bottom:20px;
        height: px;
        left: 48px;
        top: 400px;
        color: #FFFFFF;
        gap: 8px;
        background: #7F57F1;
        }

        .immport1
        {
        position: absolute;
        width: px;
        display:block;
        padding-top:20px;
        padding-bottom:20px;
        height: px;
        left: 48px;
        top: 450px;
        color: #7F57F1;
        gap: 8px;
        background: white;
        border: 2px solid #7F57F1;

        box-sizing: border-box;
        flex-direction: row;
        align-items: flex-start;
        }

        .inp1
        {
            position:absolute;
            width: 624px;
            height: 79px;
            left: 48px;
            top: 145px;
            border: 1px solid #7F57F1;
        }
        .inp2
        {
            position: absolute;
            width: 624px;
            height: 79px;
            left: 48px;
            top: 256px;

            border: 1px solid #7F57F1;
        }