{%extends 'base.html'%}

{%block title%}
About
{%endblock%}


{%block body%}
<div class="block_home" style="z-index: -2;
        position:relative;">

    <div class="first_text">
        О компании
    </div>

    <div id="in_post2" style="z-index: -2;
        position:relative;">
        Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. Faucibus tellus massa urna dignissim a massa sollicitudin commodo vitae. Id dui tincidunt mauris egestas consectetur. Donec vulputate nisl at ac.
        <br><br>Mauris morbi scelerisque imperdiet bibendum fermentum molestie. Et justo tortor amet eu morbi nisl amet mauris. Porttitor elementum a non volutpat et tristique. Suscipit proin viverra accumsan tortor elit volutpat arcu sodales amet. Pellentesque odio nec nisl tortor.
        <br><br>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. Faucibus tellus massa urna dignissim a massa sollicitudin commodo vitae. Id dui tincidunt mauris egestas consectetur. Donec vulputate nisl at ac.
        Mauris morbi scelerisque imperdiet bibendum fermentum molestie. Et justo tortor amet eu morbi nisl amet mauris. Porttitor elementum a non volutpat et tristique. Suscipit proin viverra accumsan tortor elit volutpat arcu sodales amet. Pellentesque odio nec nisl tortor.

    </div>

    <div id="default_block_normal" style="z-index: -2;
        position:relative;">
        <div class="default_block_small">
            <img src="static/image/img7.jpg" style="float:right">
            <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
        </div>
        <div class="default_block_small" style="z-index: -2;
        position:relative;">
            <img src="static/image/img8.jpg" style="float:right">
            <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
        </div>
        </div>
    </divcla>
</div>

{%endblock%}