{%extends 'base.html'%}

{%block title%}
    Contacts
{%endblock%}


{%block body%}
<div class="block_home" style="z-index: -2;
        position:relative;">
    <div class="first_text">
        Контакты
    </div>
    <img src="static/image/im2.jpg" id="im2" >
    <div id="in_post3">
        2-Ya Baumanskaya Ulitsa, д.5, стр.1, Moscow, Russia, 105005<br>
        2-я Бауманская ул., д.5, стр.1, Москва, 105005<br>
        Open ⋅ Closes 6PM<br>
        bmstu.ru<br>
        +7 499 263-63-91<br>
        QM8P+92 Basmanny District, Moscow, Russia<br>
        Send to your phone<br>
        Claim this business<br>
        Add a label<br>

    </div>
</div>

{%endblock%}