{%extends 'base.html'%}

{%block title%}
Services
{%endblock%}

{%block body%}

    <div class="block_home" style="z-index: -2;
        position:relative;">
        <div class="first_text">
            Услуги
        </div>
        <div id="default_block_big">
            <div class="default_block_small">
                <img src="static/image/img1.jpg">
                <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
            </div>
            <div class="default_block_small center_block_small">
                <img src="static/image/img2.jpg">
                <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
            </div>
            <div class="default_block_small">
                <img src="static/image/img3.jpg">
                <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
            </div>
            <div class="default_block_small">
                <img src="static/image/img4.jpg">
                <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
            </div>
            <div class="default_block_small center_block_small">
                <img src="static/image/img5.jpg">
                <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
            </div>
            <div class="default_block_small">
                <img src="static/image/img6.jpg">
                <p>Lorem ipsum dolor sit amet consectetur. Sed tempor nunc commodo tempus lorem. </p>
            </div>
        </div>

    </div>

{%endblock%}